body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 60px 1fr auto;
}
/* Top App bar, height=56px */
header {
  grid-column: span 2;
}
/* List of chatRooms, width=220px */
aside {
  overflow-x: hidden;
  overflow-y: auto;

  background-color: blanchedalmond;
  grid-row: 2 / 4;
}
/* List of chats */
main {
  overflow-y: auto;
  padding-left: 10px;
}

#signin {
  grid-column: span 2;
  justify-self: center;
  margin-top: 20px;
  max-width: 50%;
  min-width: 30%;
}

#chatContainer {
  background-color: thistle;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  margin-top: 5px;
}

#chatAvatar {
  grid-column: 1;
  grid-row: 1;
  height: 40px;
  width: 40px;
  background-color: tomato;
  border-radius: 20px;
  justify-self: center;
  align-self: center;
}

#chatEmail {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}

#chatTime {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
}

#chatContent {
  grid-column: 2 / span 3;
  grid-row: 2;
}

#newmessage {
  margin-top: 15px;
  grid-column: 2 / 2;
}

html {
  height: 100%;
}
