body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 60px 1fr auto;
}
/* Top App bar, height=56px */
header {
  grid-column: span 2;
}
/* List of chatRooms, width=220px */
aside {
  overflow-x: hidden;
  overflow-y: auto;
}
/* List of chats */
main {
  overflow-y: auto;
}

#newmessage {
  grid-column: 2 / 2;
}

html {
  height: 100%;
}
